ul,
li,
a {
  text-decoration: none;
  list-style: none;
  padding: 0;
}

:root {
  --gap: 0.8rem;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr auto 2fr;
  gap: var(--gap);
}

.header,
.footer {
  background-color: orangered;
  color: white;
  text-align: center;
  grid-column: 1/3;
  padding: 1.5rem 0;
}

.main {
  padding: var(--gap);
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: var(--gap);
}

.gallery {
  grid-column: 1/9;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr;
  gap: var(--gap);
}

.gallery__image {
  width: 100%;
}

.aside {
  grid-column: 9/13;
}

.items-list__item {
  background-color: gray;
  padding: 0.2rem 0.5rem;
  margin-bottom: 0.5rem;
}

.items-list__item:hover {
  background-color: orangered;
  cursor: pointer;
  font-size: 1.1rem;
}

.items-list__link {
  color: white;
}

.items-list__link:hover {
  text-decoration: none;
  color: white;
}

@media screen and (min-width: 768px) {
  .gallery {
    grid-column: 1/10;
    grid-template-columns: 1fr 1fr;
  }
  .aside {
    grid-column: 10/13;
  }
}

@media screen and (min-width: 1024px) {
  .gallery {
    grid-column: 1/11;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .aside {
    grid-column: 11/13;
  }
}
